<!-- Gitalk 评论 start  -->
{% if site.gitalk %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: '232b21edf9969fd33bf6',
        clientSecret:'09f914497ccfde3141b450f7ca1c2d66791f8f98',
        repo:'hmjwhmjw.github.io',
        owner: 'hmjwhmjw',
        admin: ['hmjwhmjw'],
        id: 'window.location.pathname',
    
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->
